@media (max-width: 768px) {
}

@media (min-width: 769px) {
  
}
@keyframes fade_away {
  from {
    opacity: 0;
  }
  50%{
    opacity: 1
  }
  to {
    opacity: 0;
  }
}
.intro_1 {
  height: 500px;
  font-size: 44.8px;
  text-align: center;
  background-image: url("../images/intro-bg.jpg");
  background-position: center;
  background-size: cover;
}
.intro_dark {
  position: absolute;
  top: 0; bottom: 0;  left: 0;  right: 0;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.67);
}
#head_text_1, #head_text_2 {
  display: inline-block;
  font-family: 'Nanum Gothic Coding';
  color: white;
  margin-top: 172px;
  font-weight: bold;
}
#flip {
  position: absolute;
  bottom: 0;
  background-color: var(--color-main);
  height: 125px;
  width: 100%;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}
#flip-flep {
  position: absolute;
  bottom: 0;
  background-color: var(--color-main);
  opacity: 0.5;
  height: 125px;
  width: 100%;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}
#underline {
  animation-name: fade_away;
  animation-duration: 750ms;
  animation-iteration-count: infinite;
} 


