@media (max-width: 768px) {
}

@media (min-width: 769px) {
}
@keyframes logo_anim {
  from {
    top: 10px;
  }
  to {
    top: 0px
  }
}
@keyframes shadow_anim {
  from {
    opacity: 30%;
  }
  to {
    opacity: 10%;
  }
}
#html_section,
#css_section {
  display: block;
  background-color: white;
  text-align: center;
  padding: 64px 16px 64px 16px;
  width: calc(100% - 34px);
}
#html_section {
  grid-column: 1;
  grid-row: 2;
  margin-right: 4px;
}
#css_section {
  grid-column: 2;
  grid-row: 2;
}
article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 56px;
  margin: 56px 0 56px 0;
}
figure {
  position: relative;
}
figure img {
  position: relative; 
  width: 144px;
  animation-name: logo_anim;
  animation-duration: 800ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
#html_css_content {
  text-align: start;
}
#html_css_content > div {
  font-size: var(--font-size-subtitle);
  font-weight: 100;
}
#html_css_content > div em {
  color: #F16528;
}
#html_css_content > p {
  margin-top: 1.6em;
  font-size: var(--font-size-text);
  color: var(--color-text);
}
.html_css_dl {
  display: flex;
  margin-top: 1.6em;
}
.html_css_dl dd {
  display: flex;
  margin-right: 24px;
  font-size: var(--font-size-larger);
  color: var(--color-lighter);
}
dd .material-symbols-outlined {
  color: var(--color-sub);
  font-weight: 900;
  margin-right: 3px;
  padding-top: 4px;
}
figure::after {
  content: '';
  width: 144px;
  height: 10%;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 230px;
  left: 0;
  animation-name: shadow_anim;
  animation-duration: 800ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}


